body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    /* Styles pour le logo */
}

h1 {
    /* Styles pour le titre Info Activ */
    margin: 0;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
}

.presentation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.left-block {
    width: 30%;
}

.right-block {
    width: 70%;
}

.actions {
    margin-top: 20px;
}

.arrow-up,
.arrow-down {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.arrow-up:before,
.arrow-down:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.arrow-up:before {
    border-bottom: 10px solid #000;
}

.arrow-down:before {
    border-top: 10px solid #000;
}

.partnership {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.left-block {
    width: 30%;
}

.middle-block {
    width: 70%;
}
.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* Styles pour fixer le footer en bas de la page */
body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}
.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}

.contact-info {
    font-size: 14px;
    color: #888;
}

/* Media queries pour la mise en page responsive */
@media (max-width: 768px) {
    .presentation {
        flex-direction: column;
    }

    .left-block, .right-block {
        width: 100%;
    }

    .partnership {
        flex-direction: column;
    }
}